
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <h1>Delete restaurants</h1>
    <h2>Showing <%= restaurants.length %> document(s)</h2>
    <ol>
    <% for (var i in restaurants) { %>
    	<li><a href="/deleteOne/<%=restaurants[i]._id%>"><%= restaurants[i].restaurantName %></a></li>
    <% } %>
    </ol>
    <a href="/">back to menu</a>
</body>
</html>
