<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h4>Welcome, <%= username %> !</h4>
    <ol>
      <li>
        <a href="/restaurant/new">Create new restaurant documents</a>
      </li>
      <li>
        <a href="/updateRestaurant">Update restaurant documents</a>
      </li>
      <li>
        <a href="/restaurant">Dispaly Restaurant</a>
      </li>
      <li>
        <a href="/restaurant/search">Search Restaurant</a>
      </li>
      <li>
        <a href="/restaurant/delete">Delete Restaurant</a>
      </li>
    </ol>
  </body>
</html>
