
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>

<h1>Search restaurants</h1>
<form>
    <input type="text" class="input-text" name="restName">
    <button class="button" type="submit">Search</button>
</form>

</body>
</html>
