<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Hi, <%= username %>. You can update <%= result.length %> restaurant(s) which is owned by you.</h3>
    <ol>
      <% for (const item of result) { %>
        <li>
          <a href="?id=<%= item._id %>">
            <%= item.restaurantName %>
          </a>
        </li>
      <% } %>
    </ol>
  </body>
</html>
